SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY
SUPABASE_STORAGE_BUCKET=evidencias
MODEL_PATH=models/best.pt
CAMERA_INDEX=0
DETECTION_CONFIDENCE=0.45
SUSPICIOUS_LABELS=person,knife,pistol,gun,weapon,cuchillo,arma,persona
ALERT_COOLDOWN_SECONDS=20
VIDEO_SECONDS=4
FRONTEND_ORIGIN=http://localhost:5173

