SUPABASE_URL=https://TU-PROYECTO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=TU_SERVICE_ROLE_KEY
SUPABASE_STORAGE_BUCKET=evidencias
MODEL_PATH=models/best.pt
CAMERA_INDEX=0
DETECTION_CONFIDENCE=0.25
DETECTION_IOU=0.70
DETECTION_MAX_DET=100
DETECTION_FRAME_SKIP=3
CAMERA_STREAM_FPS=12
CAMERA_STREAM_WIDTH=960
CAMERA_JPEG_QUALITY=72
TEST_DETECTION_CONFIDENCE=0.01
TEST_DETECTION_IMGSZ=1280
SUSPICIOUS_LABELS=arma_de_fuego,arma_blanca,pasamontana,mascarilla,casco
ALERT_COOLDOWN_SECONDS=20
VIDEO_SECONDS=4
FRONTEND_ORIGIN=http://localhost:5173,https://TU-FRONTEND.vercel.app
ALERTS_ENABLED=true
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=TU_TOKEN_DE_BOTFATHER
TELEGRAM_BOT_USERNAME=TU_USUARIO_DEL_BOT
TELEGRAM_PARSE_MODE=HTML
RED_ALERT_REPEAT_SECONDS=30
RED_ALERT_MAX_REPEATS=30
